.posts{
  margin-left: 180px;
  padding-top: 75px;
}
.hrTag{
    border: 1px solid rgba(255, 0, 0, 0.673);
}
.ascent{
    background: #c1946a;
};
.darken{
    opacity: 0.7;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.contain {
  position: relative;
}
  
/* Bottom right text */
.text-block {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(105, 94, 94);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}


 
/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #2c401a;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}