.fakeimg {
  height: 200px;
  background: #aaa;
}
.below {
  margin-top: 70px;
}


@media (max-width: 1280px) {
  #hideIt {
      display: none;
  }
}
@media (min-width: 1280px) {
  #show {
      display: none;
  }
}
@media (max-width: 1080px) {
  #rightHide {
      display: none;
  }
}

.contain {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 26px;
}

.hrTag{
    border: 1px solid rgba(255, 0, 0, 0.673);
}
.ascent{
    background: #c1946a;
};
.darken{
    opacity: 0.7;
}

 
.text-block {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(105, 94, 94);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #2c401a;
  overflow-x: hidden;
}

 .sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
